<div class="container-lg">

    <!-- Table for displaying facture details -->
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2> Facture Details </h2>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex justify-content-end align-items-center search-box">
                            <div class="col-md-auto">
                                <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal"
                                    data-bs-target="#smallModal">Ajouter Facture</button>
                            </div>

                            <input type="text" id="search" class="form-control search-input"
                                placeholder="Search by Name" [(ngModel)]="searchText" (input)="filterFactures()">
                            <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <a (click)="reverseFactures()" title="Reverse Order">
                                <i class="material-icons">{{ isReversed ? 'arrow_downward' : 'arrow_upward' }}</i>
                            </a>
                        </th>
                        <th style="width: 140px;">Numéro</th>
                        <th style="width: 140px;">Commande</th>
                        <th style="width: 160px;">Client</th>
                        <th style="width: 160px;">Montant Total</th>
                        <th >Date</th>
                        <th>Statut</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let facture of pagedFactures">
                        <tr>
                            <td>{{ facture.id }}</td>
                            <td>{{ facture.numero }}</td>
                            <td>{{ facture.commande.numero }}</td>
                            <td>{{ facture.commande.client.nom }}</td>
                            <td>{{ facture.montantTotal }}</td>
                            <td>{{ facture.date }}</td>
                            <td>
                                <span [ngStyle]="getStatusStyle(facture.statut)">
                                    {{ facture.statut }}
                                </span>
                            </td>
                            <td>
                                <a title="Edit" (click)="onSelect(facture)" class="edit" data-bs-toggle="modal"
                                    data-bs-target="#editModal"><i class="material-icons">&#xE254;</i></a>

                                <a (click)="deleteFacture(facture)" class="delete" title="Delete"
                                    data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Pagination -->
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" aria-label="Previous" (click)="previousPage()">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <ng-container *ngFor="let page of displayedPages">
            <li class="page-item" [class.active]="page === currentPage">
                <a class="page-link" (click)="setPage(page)">{{ page }}</a>
            </li>
        </ng-container>
        <li class="page-item">
            <a class="page-link" aria-label="Next" (click)="nextPage()">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>

    <!-- Modal -->
    <div class="modal fade" id="smallModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel3">Ajouter Fornisseur</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Form inside the modal -->
                    <div class="form-group">
                        <label for="numero">Numéro:</label>
                        <input type="text" id="numero" name="numero" required [(ngModel)]="newFacture.numero">
                    </div>

                    <div class="form-group">
                        <label for="commande">Commande:</label>
                        <select id="commande" name="commande" required [(ngModel)]="newFacture.commande">
                            <option *ngFor="let commande of commandes" [value]="commande.id">{{ commande.numero }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="montantTotal">Montant Total:</label>
                        <input type="number" id="montantTotal" name="montantTotal" required
                            [(ngModel)]="newFacture.montantTotal">
                    </div>

                    <div class="form-group">
                        <label for="dateFacture">Date de Facture:</label>
                        <input type="date" id="dateFacture" name="date" required
                            [(ngModel)]="newFacture.date">
                    </div>

                    <div class="form-group">
                        <label for="statutFacture">Statut de Facture:</label>
                        <select id="statutFacture" name="statut" [(ngModel)]="newFacture.statut">
                            <option value="envoyee">Envoyee</option>
                            <option value="payee">Payé</option>
                            <option value="annulee">Annulé</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" (click)="CreateFacture()" class="btn btn-primary"
                        data-bs-dismiss="modal">Save</button>

                </div>
            </div>
        </div>
    </div>

    <!-- Edit Client Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true" *ngIf="selectedFacture">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Modifier Fornisseur</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="numero">Numéro:</label>
                        <input type="text" id="numero" name="numero" required [(ngModel)]="selectedFacture.numero">
                    </div>

                    <div class="form-group">
                        <label for="commande">Commande:</label>
                        <select id="commande" name="commande" required [(ngModel)]="selectedFacture.commande">
                            <option *ngFor="let commande of commandes" [value]="commande.id">{{ commande.numero }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="montantTotal">Montant Total:</label>
                        <input type="number" id="montantTotal" name="montantTotal" required
                            [(ngModel)]="selectedFacture.montantTotal">
                    </div>

                    <div class="form-group">
                        <label for="dateFacture">Date de Facture:</label>
                        <input type="date" id="date" name="date" required
                            [(ngModel)]="selectedFacture.date">
                    </div>

                    <div class="form-group">
                        <label for="statutFacture">Statut de Facture:</label>
                        <select id="statutFacture" name="statut" [(ngModel)]="selectedFacture.statut">
                            <option value="envoyee">Envoyee</option>
                            <option value="payee">Payé</option>
                            <option value="annulee">Annulé</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateFacture()">Save
                        changes</button>
                </div>
            </div>
        </div>
    </div>
</div>